## 1
name: Upload thing when pushing something

on:
  push:
    branches:
      - "master"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:

      - name: Set up JDK environment to 8
        uses: actions/setup-java@v1.4.3
        with:
          java-version: 1.8

      # 1
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Create dynamic version number
        id: vars
        shell: bash
        run: |
          version="1.2.1-$(git rev-parse --short "$GITHUB_SHA")" >> $GITHUB_ENV
          echo $version > version

      # 2
      - name: Generate Release APK
        run: ./gradlew android:assembleRelease
      - name: Generate Release JAR
        run: ./gradlew desktop:release
      # 3
      - name: Sign APK
        uses: r0adkll/sign-android-release@v1
        # ID used to access action output
        id: sign_app
        with:
          releaseDirectory: android/build/outputs/apk/release
          signingKeyBase64: ${{ secrets.SIGNING_KEY }}
          alias: ${{ secrets.ALIAS }}
          keyStorePassword: ${{ secrets.KEY_STORE_PASSWORD }}
          keyPassword: ${{ secrets.KEY_PASSWORD }}

      - name: Upload as Pre-release
        uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          automatic_release_tag: "${{ env.version }}"
          prerelease: true
          title: "${{ format('Snapshot {1}', env.version) }}"
          files: |
              android/build/outputs/apk/release/android-release-unsigned-signed.apk
              desktop/build/libs/*.jar
      - name: Remove unsigned apk
        run: rm android/build/outputs/apk/release/android-release-unsigned.apk

      - name: Remove unsigned apk
        run: rm android/build/outputs/apk/release/android-release-unsigned-aligned.apk

      - name: Remove signing key
        run: rm android/build/outputs/apk/release/signingKey.jks

      - name: Remove output.json
        run: rm android/build/outputs/apk/release/output.json

      - name: Rename APK
        run: mv android/build/outputs/apk/release/android-release-unsigned-signed.apk android/build/outputs/apk/release/android-release.apk

      - name: Upload to itch.io
        uses: josephbmanley/butler-publish-itchio-action@master
        env:
          BUTLER_CREDENTIALS: ${{ secrets.BUTLER_KEY }}
          CHANNEL: win-linux-mac-stable
          ITCH_GAME: summoning-pixel-dungeon
          ITCH_USER: TrashboxBobylev
          PACKAGE: desktop/build/libs
          VERSION_FILE: version

      - name: Upload to itch.io (android)
        uses: josephbmanley/butler-publish-itchio-action@master
        env:
          BUTLER_CREDENTIALS: ${{ secrets.BUTLER_KEY }}
          CHANNEL: android-stable
          ITCH_GAME: summoning-pixel-dungeon
          ITCH_USER: TrashboxBobylev
          PACKAGE: android/build/outputs/apk/release
          VERSION_FILE: version
